---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_lWClzCliySLOdF8PQxX3EosS00RfNnQJrQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1FALjSHhKKdrqy8kcGixGmiq",
          "object": "token",
          "card": {
            "id": "card_1FALjRHhKKdrqy8kTVeDsxHX",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2020,
            "fingerprint": "bkIRbVmaLjiyDho4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "174.149.226.244",
          "created": 1566501242,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 22 Aug 2019 19:14:02 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: source=tok_1FALjSHhKKdrqy8kcGixGmiq&email=reggie.tromp%40lemke.io
    headers:
      Authorization:
      - Bearer sk_test_lWClzCliySLOdF8PQxX3EosS00RfNnQJrQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Ffh7LJKdBj60AZ",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1566501243,
          "currency": null,
          "default_source": "card_1FALjRHhKKdrqy8kTVeDsxHX",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "reggie.tromp@lemke.io",
          "invoice_prefix": "D8CD670E",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1FALjRHhKKdrqy8kTVeDsxHX",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Ffh7LJKdBj60AZ",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2020,
                "fingerprint": "bkIRbVmaLjiyDho4",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Ffh7LJKdBj60AZ/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Ffh7LJKdBj60AZ/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Ffh7LJKdBj60AZ/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Thu, 22 Aug 2019 19:14:03 GMT
recorded_with: VCR 2.9.3
