---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_lWClzCliySLOdF8PQxX3EosS00RfNnQJrQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1FB0ISHhKKdrqy8kgp4Xl7S4",
          "object": "token",
          "card": {
            "id": "card_1FB0ISHhKKdrqy8kizArg2nl",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2020,
            "fingerprint": "bkIRbVmaLjiyDho4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "174.149.17.28",
          "created": 1566657172,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 24 Aug 2019 14:32:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: source=tok_1FB0ISHhKKdrqy8kgp4Xl7S4&email=robin%40pacocha.io&plan=plan_Ffgeepn00Nv8Ak
    headers:
      Authorization:
      - Bearer sk_test_lWClzCliySLOdF8PQxX3EosS00RfNnQJrQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_FgN2ri71A1Ukyl",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "created": 1566657173,
          "currency": "usd",
          "default_source": "card_1FB0ISHhKKdrqy8kizArg2nl",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "robin@pacocha.io",
          "invoice_prefix": "238292BD",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1FB0ISHhKKdrqy8kizArg2nl",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_FgN2ri71A1Ukyl",
                "cvc_check": "unchecked",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2020,
                "fingerprint": "bkIRbVmaLjiyDho4",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_FgN2ri71A1Ukyl/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_FgN2LKgTS0oGZS",
                "object": "subscription",
                "application_fee_percent": null,
                "billing": "charge_automatically",
                "billing_cycle_anchor": 1566657173,
                "billing_thresholds": null,
                "cancel_at": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "collection_method": "charge_automatically",
                "created": 1566657173,
                "current_period_end": 1569335573,
                "current_period_start": 1566657173,
                "customer": "cus_FgN2ri71A1Ukyl",
                "days_until_due": null,
                "default_payment_method": null,
                "default_source": null,
                "default_tax_rates": [

                ],
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_FgN2G4mWUKAhW4",
                      "object": "subscription_item",
                      "billing_thresholds": null,
                      "created": 1566657174,
                      "metadata": {
                      },
                      "plan": {
                        "id": "plan_Ffgeepn00Nv8Ak",
                        "object": "plan",
                        "active": true,
                        "aggregate_usage": null,
                        "amount": 999,
                        "amount_decimal": "999",
                        "billing_scheme": "per_unit",
                        "created": 1566499477,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {
                        },
                        "nickname": "base",
                        "product": "prod_FfgdyYQqEp1Tpk",
                        "tiers": null,
                        "tiers_mode": null,
                        "transform_usage": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "quantity": 1,
                      "subscription": "sub_FgN2LKgTS0oGZS",
                      "tax_rates": [

                      ]
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_FgN2LKgTS0oGZS"
                },
                "latest_invoice": "in_1FB0ITHhKKdrqy8km0LUZAbQ",
                "livemode": false,
                "metadata": {
                },
                "pending_setup_intent": null,
                "plan": {
                  "id": "plan_Ffgeepn00Nv8Ak",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 999,
                  "amount_decimal": "999",
                  "billing_scheme": "per_unit",
                  "created": 1566499477,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": "base",
                  "product": "prod_FfgdyYQqEp1Tpk",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "schedule": null,
                "start": 1566657173,
                "start_date": 1566657173,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_FgN2ri71A1Ukyl/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_FgN2ri71A1Ukyl/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Sat, 24 Aug 2019 14:32:55 GMT
recorded_with: VCR 2.9.3
