---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_lWClzCliySLOdF8PQxX3EosS00RfNnQJrQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1FALryHhKKdrqy8kJpoFN4tw",
          "object": "token",
          "card": {
            "id": "card_1FALryHhKKdrqy8kf90C7vKl",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2020,
            "fingerprint": "QLDmA1rj7Xsj14ZV",
            "funding": "credit",
            "last4": "0002",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "174.149.226.244",
          "created": 1566501770,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 22 Aug 2019 19:22:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: source=tok_1FALryHhKKdrqy8kJpoFN4tw&email=cole%40paucek.info
    headers:
      Authorization:
      - Bearer sk_test_lWClzCliySLOdF8PQxX3EosS00RfNnQJrQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "param": "",
            "type": "card_error"
          }
        }
  recorded_at: Thu, 22 Aug 2019 19:22:51 GMT
recorded_with: VCR 2.9.3
