---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_lWClzCliySLOdF8PQxX3EosS00RfNnQJrQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1FAKnjHhKKdrqy8kMIpANp2J",
          "object": "token",
          "card": {
            "id": "card_1FAKnjHhKKdrqy8kvZd0HXRV",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2020,
            "fingerprint": "bkIRbVmaLjiyDho4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "173.121.100.60",
          "created": 1566497663,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 22 Aug 2019 18:14:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&currency=usd&card=tok_1FAKnjHhKKdrqy8kMIpANp2J&description=a+valid+charge
    headers:
      Authorization:
      - Bearer sk_test_lWClzCliySLOdF8PQxX3EosS00RfNnQJrQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-05-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1FAKnkHhKKdrqy8kmXxDSI1L",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1FAKnkHhKKdrqy8kgejsF6aI",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "captured": true,
          "created": 1566497664,
          "currency": "usd",
          "customer": null,
          "description": "a valid charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 56,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1FAKnjHhKKdrqy8kvZd0HXRV",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 6,
              "exp_year": 2020,
              "fingerprint": "bkIRbVmaLjiyDho4",
              "funding": "credit",
              "last4": "4242",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_1F6aqpHhKKdrqy8k/ch_1FAKnkHhKKdrqy8kmXxDSI1L/rcpt_FfgAcOqQx51DaSaTWjdxQHZzoMolwiu",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1FAKnkHhKKdrqy8kmXxDSI1L/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1FAKnjHhKKdrqy8kvZd0HXRV",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2020,
            "fingerprint": "bkIRbVmaLjiyDho4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 22 Aug 2019 18:14:24 GMT
recorded_with: VCR 2.9.3
